/* Header */

ul {
    list-style-type: none;
    background-color: black;
    color: white;
    width: 100%;
}

li a{
    text-decoration: none;
    color: white;
}

/* Turks Gallery */
/* Characters of Final Fantasy VII */

.gallery {
    animation: turksIn 30s cubic-bezier(0.8, 0.8, 0.8, 0.8) infinite;
}

@keyframes turksIn {
    0% {background: url("../Media/Reno.png");background-repeat: no-repeat; background-size: contain; width: 666px; height: 666px;}
    25% {background: url("../Media/Rude.png");background-repeat: no-repeat; background-size: contain; width: 666px; height: 666px;} 
    50% {background: url("../Media/Elena.png");background-repeat: no-repeat; background-size: contain; width: 675px; height: 666px;}
    75% {background: url("../Media/Tseng.png");background-repeat: no-repeat;  background-size: contain; width: 702px; height: 666px;}
    100% {background: url("../Media/Reno.png"); background-repeat: no-repeat; background-size: contain; width: 666px; height: 666px;} 
}


.birthdayButton {
    background-color:rgba(0, 0, 0, 0.553);
    color: gold;
    border: 5px solid black;
}

.birthdayColors {
    background-color: black;
}

/* Footer begins */

.pause {
    color: red;
}

strong {
    color: gold;
}

.bottomFoot {
    color: white;
    background-color: black;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 99;
    
}

.companyFoot {
    color: rgb(236, 121, 79);
}

.copyright {
    color: white;
}


@media only screen and (max-width: 575px) {
    html {
        background-color: black;
    }
    
    body {
        background-image: none;
    }
    
    ul {
        list-style-type: none;
        background-color: black;
        color: white;
        width: 100%;
    }
    
    .shinraLogo {
        width: 100%;
        height: auto;
    }
}